# User Statistics

## Store the API response data in JSON

In [6]:
import requests
import pandas as pd
import json

In [7]:
org = "microsoft"
project = "vscode"

url = (f'https://api.github.com/repos/{org}/{project}/commits')

In [8]:
try:
    r = requests.get(url,timeout=30)
except requests.ConnectionError as e:
    print("Connection Error")
    print(str(e))
except requests.Timeout as e:
    print("Timeout Error")
    print(str(e))
except requests.RequestException as e:
    print("General Error")
    print(str(e))

print("\nStatus code:", r.status_code)

r_dict = r.json()

Status code: 200

## Capture and display the top user data

In [9]:
name_list = []
dev_commits = {}
total_commits = 0

for r in r_dict:
    users = r['commit']['author']
    name = users.get('name')
    email = users.get('email')
    date = users.get('date')

    name_list.append(name)

for name in name_list:
    dev_commits[name] = dev_commits.get(name, 0) + 1

json_commits = json.dumps(dict(sorted(dev_commits.items(), key = lambda item: item[1], reverse=True)), indent=4)
print(f"Top developer commits on this project ({org}\{project}): \n", json_commits)

for n in name_list:
    total_commits += 1

print ('Total commits: ', total_commits)

Top developer commits on this project (microsoft\vscode):
 {
    "Daniel Imms": 6,
    "Sandeep Somavarapu": 4,
    "Benjamin Pasero": 4,
    "Matt Bierner": 3,
    "Megan Rogge": 2,
    "Alex Ross": 2,
    "Johannes": 2,
    "Connor Peet": 2,
    "Peng Lyu": 1,
    "Martin Aeschlimann": 1,
    "Han": 1,
    "Andrea Mah": 1,
    "Johannes Rieken": 1
}
Total commits:  30

Create a dataframe with the captured data

In [10]:
df = pd.DataFrame.from_dict(dev_commits, orient='index', columns=['Developers'])
df

                    Developers
Matt Bierner                 3
Daniel Imms                  6
Peng Lyu                     1
Martin Aeschlimann           1
Han                          1
Sandeep Somavarapu           4
Benjamin Pasero              4
Andrea Mah                   1
Megan Rogge                  2
Johannes Rieken              1
Alex Ross                    2
Johannes                     2
Connor Peet                  2